h2{
    background: black;
    color: darkorange;
    text-transform: uppercase;
    padding: 10px;
}

p{
    font-size: 20px;
}

#introduccion{ /*Selector de ID*/
    color: darkblue;
}

.logo-contenedor{
    background: sienna;
}
