/*SELECTORES DE ID's*/
#titulo{
    color: crimson;

}

#logo{
    /*margin-top: 200px;*/

}

/*SELECTORES DE CLASES*/
.rojo{
    color:red;
}

.logo{
    margin-top: 200px;
}

/*Selectores con clase y ID's*/
#titulo.titulo{
    font-size: 60px;
}