/*SELECTORES DE ID's*/
#titulo{
    color: crimson;

}

#logo{
    /*margin-top: 200px;*/

}

/*SELECTORES DE CLASES*/
.rojo{
    color:red;
}
.rojo{
    color: orangered;
}
.logo{
    margin-top: 200px;
}

/*Selectores con clase y ID's*/
#titulo.titulo{
    font-size: 60px;
}

.titulo{
    font-size: 30px;
}

/*Selectores con dos clases*/
.azul.tituloCurso{
    color: blue ;
}

.tituloCurso.azul{
    color:yellowgreen;
}

/*SELECTORES CON ELEMENTOS HTML: DE ETIQUETAS*/
p{
    color: brown;

}

h3{
    color: green;
}

h2{
    color: orange;
}

img{
    width: 300px;
}

/*SELECTORES CON ELEMENTOS HTML (ETIQUETAS) Y IDs*/
img#logo{
    width: 600px;
}

h2#titulo{
    color: darkgreen;
}

/*SELECTORES CON ELEMENTOS HTML(ETIQUETAS) Y CLASES.*/
section.seccion{
    background: gray;
}

div.noticia{
    background: #FFFFFF;
}

img.log{

}

/*SELECTOR UNIVERSAL*/

* {
    color: black;
    font-size: 20px!important;
}

#listado-cursos *{
    color: darkblue;
    font-size: 30px;
}
